.resume-page[data-v-750b2d16]{display:flex;flex-direction:column;align-items:center;overflow:auto}.resume-item[data-v-750b2d16]{background-color:#fff;border:1px solid #000;color:#000;margin-top:30px}
